@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'); /*google font=> Work Sans*/
.introduction {
    display: flex;
    flex-direction: column;  /* l'axe principale l'axe des y */
    align-items: center; /* global center */
    padding: 0 1.3%;/*****/
    margin: 1.1%  12% ;/*****/
}     
.introduction-logo {
    max-width: 100%;
    height: auto;
    border: 0;   /*OR width: 50px; height: 50px; */
    padding-top: 88px;
}
h1, h2, h3, h4{
    font-family: Work Sans,Arial,sans-serif;
    color: #00b39b;  
    font-weight: 300;
    letter-spacing: -.3px;
    margin: 16px 0;
} 
.introduction-title { 
    font-size: 34px;
    padding-top: 1px;
    margin: 34px 0;
}
.introduction-pargraphs {
    width: 100%;
    display: flex;
    margin-bottom: 75.8px; /* space between parg and section card */
    line-height: 29px;   /* largest space bettween line */
    font-size: 16px;
}
.col-{
    display: block;
    width: 50%;
    float: left;
}
.col-L{  padding: 10px 10px 0 0; }
.col-R{  padding: 10px 0 0 10px; }