@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*google font=>roboto*/
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto,Arial,sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
  color: #747474;
  /*width: 1366px; /*(1200 or 992px or 768px or 576ppx)*/
  /*padding: auto;   Center all when there is a div */

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
